asgiref==3.9.1
astroid==3.3.11
asttokens==3.0.0
bandit==1.7.6
black==24.3.0
boto3==1.40.28
botocore==1.40.28
certifi==2025.8.3
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.3
click==8.2.1
cryptography==45.0.7
decorator==5.2.1
dill==0.4.0
distlib==0.4.0
Django==5.2.5
django-allauth==65.11.1
django-extensions==4.1
django-storages==1.14.6
django-stubs==5.0.2
django-stubs-ext==5.2.3
dodgy==0.2.1
executing==2.2.1
filelock==3.19.1
flake8==6.1.0
flake8-polyfill==1.0.2
gitdb==4.0.12
GitPython==3.1.45
gunicorn==23.0.0
identify==2.6.14
idna==3.10
ipython==9.5.0
ipython_pygments_lexers==1.1.1
isort==5.12.0
jedi==0.19.2
jmespath==1.0.1
markdown-it-py==4.0.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mypy==1.10.0
mypy_extensions==1.1.0
nodeenv==1.9.1
oauthlib==3.3.1
packaging==25.0
parso==0.8.5
pathspec==0.12.1
pep8-naming==0.10.0
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.4.0
pre_commit==4.3.0
prompt_toolkit==3.0.52
prospector==1.17.3
psycopg-binary==3.2.9
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.11.1
pycparser==2.22
pydocstyle==6.3.0
pyflakes==3.1.0
Pygments==2.19.2
PyJWT==2.10.1
pylint==3.3.8
pylint-celery==0.3
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.2
razorpay==1.4.2
requests==2.32.5
requirements-detector==1.4.0
rich==14.1.0
s3transfer==0.14.0
semver==3.0.4
setoptconf-tmp==0.3.1
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
snowballstemmer==3.0.1
sqlparse==0.5.3
stack-data==0.6.3
stevedore==5.5.0
toml==0.10.2
tomlkit==0.13.3
traitlets==5.14.3
types-PyYAML==6.0.12.20250822
types-requests==2.32.4.20250809
typing_extensions==4.15.0
urllib3==2.5.0
virtualenv==20.34.0
wcwidth==0.2.13
whitenoise==6.10.0
